
.footer {
  background-color: white;
  height: 10em;
  width: 100%;
  margin-top: 100em;
  border-top: 1px solid #484848;
}

.footer-container {
  width: 90%;
  margin: auto;

  h3 {
    padding-bottom: 1em;
  }

  a {
    color: #484848;
    text-decoration: none;
    font-size: .8em;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
  }
}

.social-icons {
  margin-right: 1em;
  padding-bottom: 1em;
}

.copyright {
  padding-bottom: .5em;
}

.language-money {
  float: right;
}

.close-button {
  background-color: white;
  float: right;
}
