@import url("https://fonts.googleapis.com/css?family=Roboto");
@media only screen and (min-width: 320px) {
  .header {
    height: 10em;
    width: 100%; }
    .header .search-bar input {
      width: 70%;
      float: right; }
  .nav {
    display: none; } }

.footer {
  background-color: blue;
  height: 10em;
  width: 100%;
  margin-top: 100em; }

h1, h2, h3 {
  color: #484848;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: .2em; }

a {
  color: #0f8b8f; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
.container {
  width: 90%;
  margin: auto;
  height: auto; }

.world-homes-ul {
  padding-left: 0;
  height: auto; }
  .world-homes-ul .image-wrapper {
    height: 100px;
    width: 80%;
    margin: auto; }
    .world-homes-ul .image-wrapper img {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      height: 100%;
      width: 100%; }
  .world-homes-ul .text-wrapper {
    padding-top: 8px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: auto; }
    .world-homes-ul .text-wrapper span {
      font-size: 12px; }
  .world-homes-ul li {
    width: 50%;
    height: auto;
    padding-top: 10px;
    display: inline-block;
    margin: auto;
    text-align: center; }
    .world-homes-ul li p {
      font-size: 15px; }
    .world-homes-ul li span {
      font-size: 12px; }

.airbnb-plus img {
  width: 100%; }

.explore ul {
  margin: 0;
  padding-left: 0; }
  .explore ul li {
    list-style-type: none;
    display: inline; }

.explore .small-cards {
  width: 40%;
  display: inline-block;
  border: 1px solid #D3D3D3;
  margin-right: .5em;
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.2); }
  .explore .small-cards img {
    width: 100%;
    border-radius: 5px; }
  .explore .small-cards p {
    font-weight: bold;
    color: #484848;
    font-size: 12px;
    padding-left: .5em; }

@keyframes fader {
  0% {
    background: url("./components/layout/images/jumbo1.jpg");
    background-size: cover; }
  16.67% {
    background: url("./components/layout/images/jumbo2.jpg");
    background-size: cover; }
  33.34% {
    background: url("./components/layout/images/jumbo3.jpg");
    background-size: cover; }
  50.01% {
    background: url("./components/layout/images/jumbo4.jpg");
    background-size: cover; }
  66.68% {
    background: url("./components/layout/images/jumbo5.jpg");
    background-size: cover; }
  83.35% {
    background: url("./components/layout/images/jumbo1.jpg");
    background-size: cover; }
  100% {
    background: url("./components/layout/images/jumbo2.jpg");
    background-size: cover; } }

.wrapper {
  max-width: 100%;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em; }

.gallery {
  max-width: 100%;
  margin: 0 auto;
  animation: fader 30s linear infinite;
  height: 500px; }

.overlay-section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10em; }
  .overlay-section h1 {
    color: white;
    width: 80%;
    font-size: 2.5em; }
  .overlay-section .searchbar {
    width: 80%;
    height: 3.5em;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #484848;
    font-size: 1.2em; }
  .overlay-section .search-button {
    height: 3em;
    position: relative;
    left: -100px;
    background-color: #ff5a5f;
    color: white;
    font-weight: 400;
    border: none;
    width: 5em;
    border-radius: 5px;
    font-size: 1.1em; }
  .overlay-section .magnifying-glass {
    left: 40px;
    position: relative;
    font-size: 1.8em; }
